.image-caption {
    &__title {
        font-family: "Arial", sans-serif;
        font-style: italic;
        font-size: 14px;
        font-weight: normal;
        color: grey;
        margin: 5px 0;
    }
}